@import '@fontsource/fira-mono';

:root {
  --font-body: 'Literata', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --color-bg-0: #253131;
  --color-bg-1: #2c3e3e;
  --color-theme-1: #ffe8c3;
  --color-theme-2: #736857;
  --color-accent-1: #85ffb5;
  --color-accent-2: #73c0a0;
  --color-text: var(--color-theme-1);
  --border-radius: 3px;
  --border: 1px solid var(--color-theme-1);
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  background-color: var(--color-bg-0);
  margin: 0;
}

h1,
.h1 {
  font-size: 2.3888889rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

h2,
.h2 {
  font-size: 1.7777778rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font-size: 1.3333333rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p,
ul,
ol,
pre,
table {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

a {
  color: var(--color-accent-1);
  text-decoration: none;
}

a:visited {
  color: var(--color-accent-2);
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: unset;
  border-radius: var(--border-radius);
  border: var(--border);
  color: inherit;
  font-size: inherit;
  padding: 5px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form > button {
  height: 3rem;
}

button:hover:not(:disabled) {
  filter: brightness(115%);
}

button:disabled {
  border-color: var(--color-theme-2);
  color: var(--color-theme-2);
  cursor: not-allowed;
}

input,
textarea {
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: var(--border);
  border-radius: var(--border-radius);
  color: inherit;
  padding: 5px;
  margin: 3px 0;
}

input:focus {
  outline: var(--color-theme-1) auto 3px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.timeline-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

button.hide-pane {
  color: blue;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
}
